.main_wrapper {
  margin: 10px 20px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.flex_middle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text_two_side_padding {
  padding: 0 10px;
}

.avatar_wrapper {
  color: #f56a00;
  background-color: #fde3cf;
  margin: 0 5px;
}
